<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onLoadNewPlace()">
        <ion-icon name="add"></ion-icon>

      </button>
    </ion-buttons>
    <ion-title>
      My Sample Projects
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--************Button with click************-->
  <!--<button (click)="onLoadNewPlace()" ion-button="">Add a Place</button>-->


  <!--<ul>-->
    <!--<li *ngFor="let place of places">{{place.title}}</li>-->

  <!--</ul>-->

  <ion-list>
    <button ion-item *ngFor="let project of projects" (click)="itemSelected(project)">
      {{ project.title }}
    </button>
  </ion-list>

</ion-content>
